<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/user-list.css">

    <title>Logged In Users List</title>

    <!-- pop style -->


</head>

<body>

    <h2>Users List</h2>
    <input class="searchBox" placeholder="Search the User Name" />
    <div class="paginationuser" id="users">
        <ul id="ul_List" class="ul-list">
            <% userMap.forEach( function(d) { %>
                <li class="userlist" id="<%= d.username %>">
                    <i class='fas fa-user-alt'></i> &nbsp;
                    <a id="<%= d.username %>">
                        <%= d.username %>
                    </a>
                </li>
                <% }) %>
        </ul>
    </div>

    <br>

    <div class="chatcontainer">
        <script defer src="/socket.io/socket.io.js"></script>
        <script defer src="/client.js"></script>
    </div>
    <script>
        $(document).ready(function () {
            $("li").click(function () {
                // var index = $(this).index();
                // alert(index);
                var selectUser = $(this).text();
                // alert(text);
                sessionStorage.setItem('selectUser', selectUser);
                var clicked = $(this).attr("id")
                var msgBox = $("#" + clicked);
                console.log(msgBox);

                if (msgBox) {
                    event.preventDefault();
                    $(".chatcontainer").append('<div id="' + clicked + '"  class="chat-popup"> <div class="container">' +
                        '<div class= "send"><form action="chatroom.js" id="send-container">' +
                        '<input type="text" name="messageInp" id="messageInp" placeholder=" type here">' +
                        '<button id="sendbt" class="btn" type="submit">Send</button></form></div>' +
                        '</div></div>')
                }
            });
        });

    </script>
    <section>
        <div id="paginate">
            <p>View item in a page</p>
            <select name="" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="10">10</option>
                <option value="12">12</option>

            </select>

            <ul class="pagination">

            </ul>
        </div><br>

    </section>

    <script src="user-pagination.js"></script>
    <script src="user-search.js"></script>
</body>

</html>