body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiEVwvcnfq6N_4uWBCxrDAKexpzJLSE5Of0A&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 100%;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
label{
    color: azure;
}
h1{
   
    top: 20px;
    margin-top: 50px;
    text-align: center;
    color: white
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
    padding-top: 100px;
    width: 50%;
    padding: 15px 20px;
    margin: auto;
    background-color:transparent
}
