*{
    box-sizing: border-box;
}

body{
    background-image: url(https://img.wonderhowto.com/img/20/16/63502919091911/0/hack-like-pro-remotely-grab-encrypted-passwords-from-compromised-computer.w1456.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 200px;
    height: 50%;
    width: 100%;
    padding-left: 250px;
    padding-right: 250px;

}
b{
    color: white;
}
input[type="email" i] {
    width: auto;
    padding: 1px 8px;
    margin: 0px 0px 0 0;
    background: #f2f2f2;
}
#login{
    color: white;
}
.container {

    padding: 15px 20px;
    border-color:wheat;
    border-radius: 2px;
    padding-right: 50%;

}

#forget-pswd {
    display: inline-block;
    font-size: 1rem;
    line-height: 1;
    border-radius: 5rem;
    
}