*{
    box-sizing: border-box;
}

body{
     background-image: url(https://images.pexels.com/photos/3813336/pexels-photo-3813336.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-3813336.jpg&fm=jpg);
     background-repeat: no-repeat;
     background-size: 100%;
}
.h1{
    text-decoration-style: double;
    color: darkkhaki;
    text-shadow: mediumaquamarine;
    margin: 20px 0 0 0;
    top: -30px;

}
#personicon{
font-size: 200px;
    color:aquamarine;
   
}

.links {
  
    width: 70%;
    left: 0px;
    margin: auto;
    margin-top: 10px;
    line-height: 5;
    text-align: center;
    /* / background: #fff; / */
}

.links a {
    text-decoration: none;
    font-size: 20px;
    padding: 0px 20px;
    
    color: black;
}

.navbar {
   
    padding: 5px;
    display:block;
    margin-top: -10px;
    color: white;
    text-align:right;
    position: absolute;
    top: 0px;
    right: 8px;  
    overflow: hidden;
    width: 100%;
  }
  
  .navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;  
  }
  
  .navbar a:hover {
    background-color:green;
    color: white;
    line-height: 1.5;
    border-radius: 2.5rem;
  }

  .navbar a.active {
    background-color: #4CAF50;
    color: white;
  }