*{
    box-sizing: border-box;
}

body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-jx4Grs3roV2PllSFkkxQJsRqcF80hLBv7cI_qzOdO1U1wPqRSXBu0NgAqnUzJ4_2a0c&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 50px;
    height: 50%;
    width: 100%;
    padding-left: 250px;
    padding-right: 250px;

}

#register{
    color: white;
}
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }
.container {
    padding-top: 100px;
    width: 50%;
    padding: 15px 20px;
    margin: auto;
    background-color:transparent
}
h3{
    color:white;
   text-align: center;
   
}
input[type=email],input[type=password] {
    width: 100%;
    padding: 5px 5px;
    margin: 10px 0px 0 0;
    /* border: none; */
    background: #f2f2f2;
    /* outline: none; */
}
b{
    color:white;
}
.form-control{
    color: darkturquoise;
}
.error{
    color:red;
}
input#uname:focus, input#password:focus {
    background: #ddd;
}
#password
        {
            cursor: pointer;
        }
button.loginbtn {
    color: #fff;
    width: 100%;
    padding: 5px;
    background: #4CAF50;
    border: none;
    font-size: 16px;
}

.psw{
     color:white;
}

 #container span.psw {
  float: right;
  padding-top: 16px;
}
.container i {
    margin-left: -30px;
    cursor: pointer;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
   
    padding: 5px;
    display:block;
    margin-top: 19px;
    color: white;
    text-align:right;
    position: absolute;
    top: 10px;
    right: 8px;
    overflow: hidden;
    width: 100%;
  }

  /* Style the links inside the navigation bar */
  .navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color:green;
    color: white;
    line-height: 1;
    border-radius: 2.5rem;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
  
    color: white;
  }
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }