*{
    box-sizing: border-box;
}
body{
    background-image: url(https://images.pexels.com/photos/404280/pexels-photo-404280.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
     background-repeat: no-repeat;
     background-size: 100%;
    padding-top: 10px;
    height: 30%;
    width: 100%;
    padding-left: 250px;
    padding-right: 250px;

}
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }
  #showpassword{
     color: white;
     padding-left: 4px;
  }
  
.error{
    color:red;
}
b{
    color:white;
}
h3{
    color:white;
   text-align: center;
}
.form-control{
    color: darkturquoise;
}
.container {

    padding: 15px 15px 15px 20px;
    width: 60%;
    margin: auto;
    padding-top:50px;
}

.checkbox{
    color: blanchedalmond;
}
input[type = text], input[type =email] , input[type = password] {
  
    width: 100%;
    padding: 3px 3px;
    margin: 10px 0px 0 0;
    background: #f2f2f2;
}

input[type=text]:focus, input[type=email]:focus,input[type=password]:focus {

    outline:blue;
}

button.registerbtn {
    background: #4CAF50;
    width: 100%;
    padding: 5px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

#signin {

  color: white;
  text-align: center;
  margin-top: 20px;

}
.container i {
    margin-left: -30px;
    cursor: pointer;
}

.navbar {
   
    padding: 5px;
    display:block;
    margin-top: 19px;
    color: white;
    text-align:right;
    position: absolute;
    top: 10px;
    right: 8px;
    overflow: hidden;
    width: 100%;
  }

  .navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    
  }
  
  .navbar a:hover {
    background-color:green;
    color: white;
    line-height: 1;
    border-radius: 2.5rem;
  }

  .navbar a.active {
  
    color: white;
  }
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }