*{
    box-sizing: border-box;
}

body{
    background-image: url(https://www.wealthmanagement.com/sites/wealthmanagement.com/files/digital-key-maxkabakov-istock-thinkstockphotos-469551661.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 200px;
    height: 50%;
    width: 100%;
    padding-left: 450px;
    padding-right: 400px;

}
b{
    color: white;
}
input[type="password" i] {
    width: auto;
    padding: 1px 8px;
    margin: 0px 0px 0 0;
    background: #f2f2f2;
}
.container {

    padding: 15px 20px;
    border-color:wheat;
    border-radius: 2px;
    padding-right: 50%;

}
#reset-pswd {
    display: inline-block;
    font-size: 1rem;
    line-height: 1;
    border-radius: 5rem;
    
}