*{
    box-sizing: border-box;
}
body{
    
    background-image: url(https://3.bp.blogspot.com/-GQdXZYTeY80/WAsinlu3UaI/AAAAAAAAHpE/4VNvl3IVdW8IPCnHfvpHdbRYQ6dKlY-7wCLcB/s1600/Hacker%2BBackground%2B1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 20px;
    height: 30%;
    width: 100%;
    color:white;
    /* padding-left: 250px; */
    padding-right: 250px;

}
h1{
    color:white
}
input{

    padding: 1px 5px;
    margin: 10px 0px 0 0; 
    background: #f2f2f2;
 
}
#userlist {
    list-style-type: none;
}
#personicon{
    color:powderblue;
}
.chat-popup {
    height: 80vh;
    width: 50vh;
    text-align: center;
    float: right;
    
}

h2 {
    margin-top: 12px;
    font-size: 30px;
    text-align:left;
}

.container {
    max-width: 300px;
    border: 2px solid black;
    border-radius: 13px;
    margin: auto;
    height: 60vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
    background-color: white;

}

.message {
    background-color: rgb(211, 204, 204);
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid white;
    border-radius: 10px;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}
table{
    color:white
}
#send-container {
    color:white;
    display: block;
    margin: auto;
    text-align: center;
    max-width: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageInp {
    width: 80%;
    border: 2px solid white;
    border-radius: 6px;
    height: 34px;
    font-size: 22px;
}

.btn {
    background-color: green;
    color: white;
    margin: 1px;
    width: 25%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    height: 30px;
}

#ul_List {
    list-style-type: none;
    text-align: center;
    padding-right: 25px;
    cursor: pointer;
    color: white;
    width: 200px;
    position: fixed;
    height: 100%;
    left: 0px;
    top: 118px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: 1px solid rgba(29, 49, 91, .3); */
    border: 1px solid white;
}

#ul_List li {
    text-transform: capitalize;
    padding: 5px 0 2px 0;
}
.userlist {
    list-style-type: none;
    border: 2px;
}
.pagination{
    border: white;
    height: 50px;
    padding: 0px 5px;
    width: auto;
    float: right;
    display: flex;
    justify-content: space-around;
    align-content: center;
    
}
.pagination li{
    background-color:black;
    list-style: none;
    padding: 3px 8px;
    font-weight: bold;
    border: 1px solid #ccc;

}
td:nth-child(6)> input{
 float: none;
 margin: 0;
 width: 15px;
 height: 15px;
}
select{
    width: 126px;
    padding: 6px;
    margin: 5px 0px;
    border: 1px solid #ccc;
    cursor: pointer;
    outline: none;
}
.pagination a{
text-decoration: none;
}
section{
    height: 50px;
    padding: 0px 5px;
    width: auto;
    float:left;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
